h1,h2,h3,h4,p {
    color: #F2F2F2;
    font-weight: normal;
}

h2{
    margin-top: 20px;
    font-size: 40px;
}

h3 span {
    
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 0.6;
}

h3 {
    margin: 0;
    text-transform: uppercase;
}

.cityName {
    margin-bottom: 15px;
}

.mainIcon {
    margin-top: 15px;
    font-size: 120px;
    color: #F2F2F2;
}

.utcTime {
    opacity: 0.6;
}